.technologies {
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #377DFF;
}

.technologies-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.003em;
    color: #1D1D1D;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.mw-270{
    max-width: 270px;
}

.h-120{
    height: 120px;
}

.mb-15{
    margin-bottom: 15px;
}