.about-us {
    font-size: 24px;
    color: #377DFF;
    font-weight: 600;
}

.our-team {
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    letter-spacing: 0.003em;
    color: #1D1D1D;
}

.our-team-container {
    gap: 50px;
    display: flex;
}

.our-team-text {
    display: grid;
    align-items: center;
    margin: auto;
}

.our-team-text p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #464646;
}

.images-container {
    position: relative;
}

.orange-dots {
    position: absolute;
    top: -4.5%;
    left: -5%;
    z-index: -1;
}

.purple-dots{
    position: absolute;
    top: 85.5%;
    right: -5%;
    z-index: -1;
}

@media (max-width: 1390px) {
    .our-team-container{
        display: grid;
    }

    .our-team-container img{
        margin: auto;
    }

    .our-team-text{
        max-width: 75%;
        text-align: center;
    }
}